{% extends "_layout.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify-html.min.js"></script>
    <link rel="stylesheet" href="/public/css/globals.css">
    <link rel="stylesheet" href="/public/css/{{ screen }}.css">
    <script src="/public/js/{{ screen }}.js" defer></script>
    <script src="/public/js/shortcuts.js" defer></script>
    <link rel="icon" href="/public/favicon.ico">
    <title>gURL</title>
{% endblock head %}

{% block body %}
    <div id="navbar">
        <div>
            <a id="{{ index_active }}" href="/">home</a>
        </div>
        <div id="navbar-profile"></div>
    </div>

    <div id="terminal">
        <div id="terminal-header">
            <p>>_</p>
            <p>gURL:~</p>
            <img src="/public/terminal-buttons.webp" alt="Terminal Buttons Image">
        </div>
        <div id="terminal-console">
            {% if screen == "home" %}
                <div id="history-modal"></div>
                <div id="favorites-modal"></div>
            {% elif screen == "login" %}
                <div id="login-container">
                    <form id="login-form">
                        <br />
                        <div>
                            <label for="login-email">$  email: </label>
                            <input id="login-email" type="text" placeholder="_" autocomplete="on" autofocus required />
                        </div>
                        <br />
                        <div>
                            <label for="login-password">$  password: </label>
                            <input id="login-password" type="text" placeholder="_" autocomplete="on" required />
                        </div>
                        <input type="submit" hidden />
                        <div id="login-response"></div>
                        <div id="login-timer"></div>
                    </form>
                </div>
            {% elif screen == "signup" %}
                <div id="signup-container">
                    <form id="signup-form">
                        <br />
                        <div>
                            <label for="signup-username">$  username: </label>
                            <input id="signup-username" type="text" placeholder="_" autofocus autocomplete="on" required />
                        </div>
                        <br />
                        <div>
                            <label for="signup-email">$  email: </label>
                            <input id="signup-email" type="text" placeholder="_" autocomplete="on" required />
                        </div>
                        <br />
                        <div>
                            <label for="signup-password">$  password: </label>
                            <input id="signup-password" type="text" placeholder="_" autocomplete="on" required />
                        </div>
                        <input type="submit" hidden />
                        <div id="signup-response"></div>
                        <div id="signup-timer"></div>
                    </form>
                </div>
            {% elif screen == "profile" %}
                <div id="profile-container">
                    <p>$  Profile Info</p>
                    <div id="profile-info"></div>
                    <br />
                    <p>$  Update Profile Info</p>
                    <form id="profile-form">
                        <br />
                        <div>
                            <label for="profile-username">$  username: </label>
                            <input id="profile-username" type="text" placeholder="_" autofocus autocomplete="on" required />
                        </div>
                        <br />
                        <div>
                            <label for="profile-password">$  password: </label>
                            <input id="profile-password" type="text" placeholder="_" autocomplete="on" required />
                        </div>
                        <input type="submit" hidden />
                        <br />
                        <p onclick="deleteProfile()">$  Delete Profile</p>
                        <div id="profile-response"></div>
                        <div id="profile-timer"></div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="shortcuts">
        <div id="shortcuts-modal">
            {% if screen == "home" %}
                <div><kbd>enter</kbd> - send/select request</div>
                <div><kbd>tab</kbd> - next text box</div>
                <div><kbd>shift</kbd> + <kbd>tab</kbd> - previous text box</div>
                <div><kbd>↑</kbd> or <kbd>↓</kbd> - select autofill options</div>
                <div><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>j</kbd> - <span onclick="emptyForm()">empty request</span></div>
                <div><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>h</kbd> - <span onclick="toggleHistoryList()">toggle history list</span></div>
                <div><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>d</kbd> - <span onclick="hideRequest()">remove request from history</span></div>
                <div><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>v</kbd> - <span onclick="toggleFavoritesList()">toggle favorites list</span></div>
                <div><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>f</kbd> - <span onclick="toggleFavoriteItem()">favorite/unfavorite</span></div>
            {% elif screen == "login" %}
                <div><kbd>enter</kbd> - login</div>
                <div><kbd>tab</kbd> - next text box</div>
                <div><kbd>shift</kbd> + <kbd>tab</kbd> - previous text box</div>
            {% elif screen == "signup" %}
                <div><kbd>enter</kbd> - signup</div>
                <div><kbd>tab</kbd> - next text box</div>
                <div><kbd>shift</kbd> + <kbd>tab</kbd> - previous text box</div>
            {% elif screen == "profile" %}
                <div><kbd>enter</kbd> - update profile</div>
                <div><kbd>tab</kbd> - next text box</div>
                <div><kbd>shift</kbd> + <kbd>tab</kbd> - previous text box</div>
            {% endif %}           
        </div>
        <div id="shortcuts-toggle-modal">
            <img id="shortcuts-toggle" onclick="toggleShortcuts();" />
        </div>
    </div>

    <div id="demo-cover">
        <p>don't use your phone to test your api🤦</p>
        <p>go to <a href="https://keycurl.github.io">keycurl.github.io</a> for demos, docs, and download guides for the http version of this project</p>
    </div>
{% endblock body %}
